<ion-view view-title="{{location.name}}">
    <ion-content class="padding">
        <img ng-src="{{location.img}}" style="width: 100%; box-shadow: 0 0 5px #555; border: 1px solid #fff;">
        <br>
        <div class="padding center" ng-show="{{ hasAudio() }}">
            <button ng-click="play()" class="button">
                <i class="icon ion-play"></i>
            </button>
            <button ng-click="pause()" class="button">
                <i class="icon ion-pause"></i>
            </button>
        </div>
        <br>
        
        <div class="justify" ng-bind-html="location.description"></div>
        
        <a class="button icon-left ion-chevron-left button-default" href="#/tab/guide" style="float: left;">
  		    Izložba
        </a>
        <a class="button icon-right ion-chevron-right button-default" href="#/tab/guide/{{next_location}}" style="float: right;">
  		    Pano {{next_location}}
        </a>
        <div style="clear: both; "></div>
    </ion-content>
</ion-view>