<ion-view view-title="Nastavitve">
  <ion-content>
    <div class="list">

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-loop"></i>
	    Posodobitev podatkov
	    <span class="item-note">
	      19.3.2015
	    </span>
	  </a>
	
	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-chatbubble-working"></i>
	    Jezik
	    <span class="item-note">
	      slovenščina
	    </span>
	  </a>
	  
	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-gear-a"></i>
	    ...
	  </a>
	
		<a class="item item-icon-left" href="#">
	    <i class="icon ion-arrow-right-c"></i>
	    ...
	  </a>
	</div>
  </ion-content>
</ion-view>
